
@{
    //definindo a página de layout
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Prototipo do sistema <strong>Frest Gestão</strong></h5>
<p>Utilize o menu acima para começar para emitir os reltórios</p>

